@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");



body {
  font-family: "Inter", sans-serif;
}
:root {
  --auht-primary-color:#4aa35a;
  --mastry-primary-color:#009247;
  --secondary-color:#1F263E;
  
}

/* Main */
.auth-container {
  background-image: url(./assets/images/auth-bg.png);
  background-position: center center;
  background-size: cover;
}

.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(55, 140, 47, 0.7),
    rgba(0, 0, 0, 0.8)
  );
}

.main-color {
  color: #4aa35a;
}

/* Auth Title */

.title h3 {
  color: #494949;
}

.title span {
  color: #49494999;
  font-size: 15px;
}

/* Auth input & Btn */

input,
button {
  border: none;
  outline: none;
}

.auth-btn {
  background-color: #4aa35a;
  border-color: #4aa35a;
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
}

.custom-input {
  background-color: #f7f7f7 !important;
  padding: 12px 12px;
  border-radius: 8px;
  border: none;
}
.custom-input::placeholder {
  color: #8391a1;
}

.input-group-text {
  border: none;
  position: relative;
  background-color: #f7f7f7;
  cursor: pointer;
}

.input-group-text i {
  color: #8391a1;
}

.input-group-text::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 50%;
  width: 2px;
  background-color: #8391a1 ;
}

.no-border::after{
  width: 0px;
}


.bg-header {
  background-image: url("./assets/images/bg-green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Sidebar style */
.sidebar-container .ps-sidebar-container {
  background-color: #1F263E;
  color: white;
  border-top-right-radius: 3rem;
  min-height: 100vh;
}

.sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 146, 77, 0.1) !important;
  border-left: 2px solid #009247;
}

.sidebar-container .ps-sidebar-root {
  border: none;
}


.section-btn {
  background-color: #009247;
  border: #009247;
  color: white;
  font-weight: bold ;
}

.custom-table {
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 16px;
  overflow: hidden;
}

.custom-table th,
.custom-table td {
  border: none ;
  padding: 18px;
 
}


.custom-table thead {
  color: white;
}
.custom-table thead th {
  background-color: #E2E5EB;   
  padding: 20px;
}

.custom-table th,
.custom-table td {
  padding: 15px;
  text-align: center;
  
}

.custom-table tbody tr:nth-child(even) td,
.custom-table tbody tr:nth-child(even) th {
    background-color: #F8F9FB !important; 
}

.custom-table tbody tr:nth-child(odd) td,
.custom-table tbody tr:nth-child(odd) th {
    background-color: #ffffff !important; 
}
.table-icon {
  font-size: 20px;
  color: #009247;
  cursor: pointer;
  
}

.table-img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}


.modal-title {
  color: #494949;
  font-weight: bold;
}


.modal-btn {
  background-color: #009247;
  border-color:#009247;
}


.recipe-header {
  background-color: #F0FFEF;
  border-radius: 15px;
}

.recipe-title {
  color: #009247;
}


.uploade-box {
  background-color:#F0FFEF ;
  border: 3px dashed #009247;
   cursor: pointer;
}

.upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-weight: 500;

}

.upload-icon {
  font-size: 30px;
  margin-bottom: 5px;
  color:#009247 ;
}

.img-span {
  color: #009247;
}


.btns button  {
  background-color: #009247;
  border-color: #009247;
  padding: 12px 22px;
  border-radius: 10px;
  color: white;
}

.btns .outline  {
  background-color: transparent;
 border: 1px solid #009247 ;
  color: #009247;
}

.not-found h2 {
  font-size: 50px;
  color:#1F263E ;
}

.not-found p {
  font-size: 45px;
  color: #009247;
}

.not-found .disc {
  font-size: 20px;
  color: black;
}


.not-found button {
  padding: 10px 80px;
  border-radius: 3px;
  color: white;
  background-color: #009247;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.not-found button i {
  margin-right: 15px;
}


.fav-btn {
  background-color: #009247;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.fav-btn:hover{
    background-color: white;
  color: #009247;
}


.input-search input{
  background-color: white;

}

.input-search input::placeholder{
  color: #8391a1;

}

.input-search i{
  color: #8391a1;
}


.fav-img {
  height: 180px;
  object-fit: cover;
}

.remove-btn {
  margin: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #009247;
  cursor: pointer;
  
}

